services:
{{ if .Redis }}
  redis:
    image: redis:7.2.4-alpine
    command: redis-server --requirepass password
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=password
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "password", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - backend
{{ end }}
{{ if eq .DB "postgres"}}
  db:
    image: postgres:16.2-alpine
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=admin
      - POSTGRES_DB=mydatabase
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend
{{ else if eq .DB "mysql"}}
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: dbname
      # So you don't have to use root, but you can if you like
      MYSQL_USER: user
      # You can use whatever password you like
      MYSQL_PASSWORD: pass
      # Password for root access
      MYSQL_ROOT_PASSWORD: pass
    ports:
      # <Port exposed> : <MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-ppass"]
      interval: 5s
      timeout: 5s
      retries: 10
{{end}}
  backend:
    build:
      context: .
    container_name: backend
    restart: always
    depends_on:
      db:
        condition: service_healthy {{ if .Redis }}
      redis:
        condition: service_healthy{{end}}
    ports:
      - "1323:1323"
    networks:
      - backend
volumes:
  db-data:

networks:
  backend: